/*zera as margens do corpo da janela*/
body{
    margin: 0%;
}
/*Estiliza o titulo principal*/
h1{
    box-sizing: border-box;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: orange;
    padding: 2%;
    margin: 0%;
}
/*Estiliza os links da barra de navegação*/
a{
    box-sizing: border-box;
    border: 3px orange solid;
    font-size: larger;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin: 5px;
}
/*Enquadra a barra de navegação no centro e altera suas margens*/
nav{
    justify-content: center;
    display: flex;
    margin: 2%;
}
/*Muda a cor de fundo da barra de navegação quando o mouse passa por cima dos links*/
.navLinks:hover{
    background-color: orange;
}
/*Limita a largura do aside para não atrapalhar os outros elementos*/
aside{
    width:fit-content;
}
/*Estiliza a minha foto*/
.fotoPerfil{
    width: 35%;
    margin: 3%;
    border: 5px solid orange;
}
/*Estiliza o conteúdo central da página*/
section{
    position: absolute;
    margin-left: 20%;
    margin-top: -30%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*Ajusta o preenchimento dos paragrafos*/
p{
    padding-right: 10%;
    
}
/*Enquadra o titulo secundário da Formação educacional um pouco mais a esquerda do parágrafo*/
.form{
    position: relative;
    left: -3%;
}
/*Enquadra o parágrafo um pouco mais a direita do titulo secundário da Formação educacional*/
.formacao_topicos{
    position: relative;
    left: 3%;
}
/*Enquadra as fotos dos 3 jogos do meu portifolio*/
.fotoJogo1{
    position: relative;
    width: 30%;
    left: 2%;
}
.fotoJogo2{
    position: relative;
    width: 35%;
    left: 2%;
}
.fotoJogo3{
    position: relative;
    width: 35%;
    left: 2%;
}
/*Define uma cor de fundo nos label*/
label{
    color: orange;
}
/*Estiliza os inputs*/
input{
    outline: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: orange;
}
/*Muda a cor de fundo quando passa o mouse por cima dos inputs*/
input:hover{
    background-color: rgb(255, 190, 105);
}
/*Estiliza o textarea*/
textarea{
    outline: 0;
    border-top-color: orange;
    border-left-color: orange;
    border-right-color: orange;
    border-bottom-color: orange;
}
/*Muda a cor de fundo quando passa o mouse por cima do textarea*/
textarea:hover{
    background-color: rgb(255, 190, 105);
}
/*Estiliza o submit*/
.submit{
    background-color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    border: 3px orange solid;
}
/*Muda a cor de fundo quando passa o mouse por cima do submit*/
.submit:hover{
    background-color: orange;
}
/*Ajusta a posição e tamanho dos textos e elementos de acordo com as resoluções de tela*/
@media screen and (max-width: 2560px) and (max-height: 1080px){
    
    .form{
        width: 40%;
    }
    section{
        width: 70%;
        margin-left: 15%;
        margin-top: -23%;
    }
}
@media screen and (max-width: 1680px){
    section{
        box-sizing: border-box;
        margin-left: 23%;
        margin-top: -35%;
        width: 70%;
    }
    
    .formacao_topicos{
        box-sizing: border-box;
        width: 50%;
    }
}
@media screen and (max-width: 1280px) and (max-height: 1024px){
    section{
        margin-left: 30%;
        margin-top: -49%;
    }
}
@media screen and (max-width: 1280px) and (max-height: 720px){
    section{
        margin-left: 30%;
        margin-top: -49%;
    }
}
@media screen and (max-width: 1024px){
    section{
        margin-left: 37%;
        margin-top: -61%;
    }
}
@media screen and (max-width: 1080px){
    h1{
        font-size: 350%;
    }
    nav{
        position: absolute;
        flex-direction: column;
        top: 11%;
        left: 48%;
    }
    a{
        font-size: 250%;
        margin-bottom: 20%;
    }
    .fotoPerfil{
        width: 50%;
    }
    section{
        margin-left: 6%;
        margin-top: 0%;
        font-size: 220%;
    }
    .fotoJogo1, .fotoJogo2, .fotoJogo3{
        width: 85%;
    }
    input , textarea, .linkEx{
        font-size: 100%;
    }
    
}
@media screen and (max-width: 720px) {
    *{
        box-sizing: border-box;
    }
    h1{
        font-size: 200%;
    }
    nav{
    
        position: absolute;
        flex-direction: column;
        top: 21%;
        left: 55%;
    }
    a{
        text-align: center;
        font-size: 100%;
        margin-bottom: 10%;
    }
    .fotoPerfil{
        margin-top: 10%;
        width: 50%;
    }
    section{
        width: 90%;
        margin-left: 6%;
        margin-top: 0%;
        font-size: 105%;
    }
    .form{
        width: 100%;
    }
    .formacao_topicos{
        font-size: 100%;
        width: 90%;
    }
    .fotoJogo1, .fotoJogo2, .fotoJogo3{
        width: 85%;
    }
    input , textarea, .linkEx{
        font-size: 100%;
    }
    
}